/* Footer.module.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .footer {
    background-color: #c07acb;
    color: #f8f4f4;
    padding: 40px 0;
    text-align: center;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 40px;
  }
  
  .footerSection {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footerSection h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .footerSection h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .footerSection p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footerSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footerSection ul li {
    margin-bottom: 10px;
  }
  
  .footerSection ul li a {
    color: #fefafa;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footerSection ul li a:hover {
    text-decoration: underline;
  }
  
  .footerBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #f9f5f5;
    padding: 1px 0;
    margin-top: 20px;
  }
  
  .location, .contactInfo, .socials {
    margin: 10px;
    flex: 1;
    min-width: 150px;
  }
  
  .location p, .contactInfo p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials a {
    margin: 0 10px;
    color: rgb(246, 244, 244);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .socials a:hover {
    color: #ddd;
  }
  
  .footerCredit {
    border-top: 1px solid #f4eeee;
    margin-top: 15px;
  }
  
  .footerCredit p {
    margin: 0;
    font-size: 14px;
    position: relative;
    margin-top: 12px;
  }
  