.stepper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.step{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative; 
}
.step-number{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    z-index: 2;
}
.stepper-name{
    font-size: 14px;
}
.active .step-number{
    background-color: blue;
    color: #000;
}
.complete .step-number{
    background-color: yellowgreen;
    color: #ffffff;
}
.progress-bar{
    position: absolute;
    top: 25%;
    
    left: 0;
    height: 4px;
    background-color: chartreuse;
}
.progress{
    height: 100%;
    background-color: #000;
    transition: 0.2s ease;
}