* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: system-ui;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #e72e77;
    height: 65px;
  }
  
  .navbar-logo {
    flex: 1;
  }
  
  .navbar-logo .logo {
    height: 40px; /* Adjust the height of the logo */
  }
  
  .navbar-links {
    display: flex;
    gap: 3rem;
    flex: 2;
    justify-content: center;
    list-style-type: none;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-login {
    flex: 1;
    text-align: right;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #eee;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-login {
      order: 3;
      text-align: left;
      width: 100%;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      padding: 10px;
    }
  
    .hamburger .bar {
      display: block;
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px 0;
    }
  }
  