.biodataContainer {
  margin: 2rem;
}
.BriedCardinfo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card {
  display: flex;
  height: 300px;
  width: 450;
  padding: 0.8rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h3 {
  color: #e72e77;

  color: beige;
  font-weight: bold;
}

.cardLink {
  text-decoration: none;
color: black;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .BriedCardinfo {
    grid-template-columns: 1fr; /* Switch to single column layout on small screens */
  }

  .card {
    width: 100%; /* Make the card take full width on small screens */
    height: auto; /* Adjust the height to auto so it doesn't overflow */
    padding: 1rem; /* Adjust padding */
  }

  h3 {
    font-size: 1.2rem; /* Reduce font size for mobile */
  }
}



