.biodataContainer {
  padding: 20px;
}

.filterSection {
  margin-bottom: 20px;
}

.filterFields {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterFields label {
  flex: 1 1 200px; /* Adjust width as needed */
}

.filterButtons {
  margin-top: 10px;
}

.personContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.personCard {
  flex: 1 1 45%; /* Adjust width as needed */
  border: 1px solid #ddd;
  padding: 10px;
}

.buttons {
  margin-top: 20px;
}
